<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="../dist/css/tailwind.css">
</head>

<body class="bg-slate-100">

    <header>
        <nav class="bg-gray-800">
            <div class="mx-auto max-w-7xl px-4">
                <div class="flex h-16 items-center justify-between">

                    <div class="flex items-center gap-8">

                        <img src="https://tailwindcss.com/plus-assets/img/logos/mark.svg?color=indigo&shade=500"
                            class="h-8" alt="Logo">

                        <div class="flex gap-4">
                            <a href="#" class="rounded-md bg-gray-900 px-3 py-2 text-sm text-white">
                                Dashboard
                            </a>

                            <a href="../../pages/interview.html" class="rounded-md px-3 py-2 text-sm text-gray-300 hover:text-white">
                                Prep
                            </a>

                            <a href="#" class="rounded-md px-3 py-2 text-sm text-gray-300 hover:text-white">
                                Projects
                            </a>

                            <a href="#" class="rounded-md px-3 py-2 text-sm text-gray-300 hover:text-white">
                                Calendar
                            </a>
                        </div>
                    </div>

                    <div>
                        <a href="../../components/join.html" id="join"
                            class="rounded-md bg-indigo-600 px-3 py-2 text-sm text-white hover:bg-indigo-500">
                            Join
                        </a>
                        <button id="logoutBtn"
                            class="rounded-md bg-indigo-600 px-3 py-2 text-sm text-white hover:bg-indigo-500"
                            style="display:none;">
                            Logout
                        </button>
                    </div>

                </div>
            </div>
        </nav>
    </header>

</body>

</html>